[submodule "backend"]
    path = backend
    url = https://github.com/lucasprogamer/onesight-backend.git
[submodule "frontend"]
    path = frontend
    url = https://github.com/lucasprogamer/onesight-frontend.git